body {
    background-color: blueviolet;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    letter-spacing: 2px;
}

#score {
    font-size: 2rem;
    font-weight: bold;
    margin: 1rem 0;
}

button {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 10px;
    border: none;
    padding: 0.5rem 1rem;
    letter-spacing: 1px;
    cursor: all-scroll;
}

ul {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: repeat(4, 100px);
    gap: 10px;
    padding: 0;
}

li {
    list-style: none;
    border: 2px solid rgb(187, 204, 30);
    border-radius: 50px;
    cursor: pointer;
}

